body {
  
  background-color:blueviolet;  
}


.triangle,.square1,.square2{
 
  position:absolute;
  left:20%;
  width:140px;
  height:140px;
  border-color:aqua;
  top:20%;
  
}

.square1{

  width:200px; 
  height:250px;
  overflow:hidden;
  border-bottom:solid;
  border-color:aqua;
  border-radius:5px;
}

.square2{
  
  width:80px;
  height:80px;
  left:60px;
  background-color:black;
  border-style:solid;
  border-radius:20%;
    
    
}




